<% if @search %>
    <div class="row" id="search-email-result">
      <% if @email_live == 1 %>
        <p>Email is exist</p>
      <% else %>
        <p>Email is not exist</p>
      <% end %>
    </div>
<% end %>