<% if current_user %>
    <h3>Welcome: <%= current_user.email %></h3>
<% else %>
    <div class="jumbotron">
      <h2>CHÀO MỪNG ĐẾN VỚI ACE_EMAIL_HARVEST!</h2>
      <p class="lead"></p>
    </div>
    <div class="row">
      <div class="plans clearfix">
        <div class="col-lg-3 col-lg-offset-3 plan">
          <div class="price">
            Price: $100
          </div>
          <h2>Gói Premium</h2>
          <div class="features">
            <ul>
              <li>Tìm kiếm 10,000 Email</li>
              <li>Hỗ trợ gởi Email</li>
              <li>Hỗ trợ xác định email thật hay giả</li>
            </ul>
          </div>
          <p>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
          </p>
        </div>
        <div class="col-lg-3 plan">
          <div class="price">
            Price: $200
          </div>
          <h2>Gói Amaze</h2>
          <div class="features">
            <ul>
              <li>Tìm kiếm 50,000 Email</li>
              <li>Hỗ trợ gởi Email</li>
              <li>Hỗ trợ xác định email thật hay giả</li>
            </ul>
          </div>
          <p>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
          </p>
        </div>
      </div>
    </div>
<% end %>
